# Pkg
Manifest.toml
LocalPreferences.toml

# documentation
docs/build/
docs/site/

package-lock.json
node_modules

# VS code
/.vscode

# Jupyter
*.ipynb_checkpoints

# OS X
.DS_Store

# Vim
.*.sw[omp]

*/*.png
*/*.vti
*/*.vtm
*/*.h5

*.png
*.vti
*.vtm
*.vtp
*.vtr
*.h5
*.jld2
