# Pkg
Manifest.toml
Manifest-v*.toml
docs/Manifest-v*.toml
LocalPreferences.toml

# Coverage
*.jl.cov
*.jl.*.cov
*.jl.mem

# documentation
docs/build/
docs/site/

package-lock.json
node_modules

# VS code
/.vscode

# Jupyter
*.ipynb_checkpoints

# OS X
.DS_Store

# Vim
.*.sw[omp]

*.png
*.h5
*.jld2
*.csv
*.txt
*.pdf
*.typ
*.sh

# ParaView / VTK
*.vtk
*.vti
*.vtp
*.vtr
*.vts
*.vtu
*.vtm
*.vtmb
*.pvti
*.pvtp
*.pvtr
*.pvts
*.pvtu
*.pvd
*.pvsm
